{% assign people = "alice, bob, carol" | split: ", " -%}

<!doctype html>
<html>
  <head>
    <title>Hello from liquid</title>
    <meta charset="UTF-8" />
  </head>
  <body>
  <p>
    {{ text }}
</p>

<p>
Below is from template...</p>
<ul>
{%- for person in people %}
  <li>
    <a href="{{person | prepend: "http://example.com/"}}">
      {{ person | capitalize }}
    </a>
  </li>
{%- endfor%}
</ul>
  </body>
  </html>
