<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hello Alpinejs + Ejs</title>
    <script type="module" src="/static/js/alpine.js" defer></script>
    <script nomodule src="/static/js/alpine-ie11.js" defer></script>
  </head>
  <body>
    <p>
      From boot  <%= text %>
    </p>

    <h1> Hello ejs </h1>
    <p> From include </p>

    <%- await include('../src/ejs/show', {user: 'jack'}); %>
    <p>From official alphinjs example</p>
    <div x-data="{ open: false }">
      <button @click="open = true">Open Dropdown</button>

      <ul x-show="open" @click.away="open = false">
        Dropdown Body
      </ul>
    </div>
    <div x-data>
      <div x-show="$store.modal.open === 'login'">
        <p>
          This "login" modal isn't built with a11y in mind, don't actually use it
        </p>
      </div>
    </div>

    <div x-data>
      <div x-show="$store.modal.open === 'register'">
        <p>
          This "register" modal isn't built with a11y in mind, don't actually use it
        </p>
      </div>
    </div>

    <div x-data>
      <select x-model="$store.modal.open">
        <option value="login" selected>login</option>
        <option value="register">register</option>
      </select>
    </div>

    <script src="/static/js/spruce.umd.js"></script>
    <script>
      window.Spruce.store('modal', {
        open: 'login',
      });
    </script>
  </body>
</html>
