  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hello Ejs, Alpinejs and Tailwind</title>
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <script type="module" src="/static/js/alpine.js" defer></script>
    <script nomodule src="/static/js/alpine-ie11.js" defer></script>
    <link rel="stylesheet" href="/bundle/css/tailwind-base.css" />
  </head>
