<!doctype html>
<html>
  <head>
    <title>Hello from liquid</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <p>
      From boot  <%= text %>
    </p>

    <h1> Hello ejs </h1>
    <p> From include </p>

    <%- await include('../src/ejs/show', {user: 'jack'}); %>
    <script>
      document.write(
        '<script src="http://' +
          (location.host || "localhost").split(":")[0] +
          ':35729/livereload.js"></' +
          "script>"
      );
      </script>
  </body>
</html>
